body{  

background-color:ghostwhite

}

.banner{
    text-indent: 200px;
}
h1{
    color:darkgreen;
    text-indent: 200px;
}

.p{
color:darkred;
text-indent: 200px;
}

.lista{


color:blueviolet;
text-indent:200px;

}


.h2{
    color: red;
    text-indent: 200px;
}

.boss{
    color:firebrick
    text-indent 200px;
}

.minerio{
    color:darkslateblue;
    text-indent: 200px;
}


